<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %>
<p></p>

<h4>Bookmarks</h2>


<% @list.bookmarks.each do |bookmark| %>
  <div class="card" style="width: 18rem;">
    <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="MOvie Poster">
    <div class="card-body">
      <h5 class="card-title"><%= bookmark.movie.title %></h5>
      <p class="card-text"><%= bookmark.movie.overview %></p>
      <h5>Comments</h5>
      <p class="card-text"><%= bookmark.comment %></p>
      <div class="btn btn-warning">
        <%= link_to 'Delete', bookmark_path(bookmark),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }
        %>
      </div>
    </div>
  </div>
<% end %>
